[push]
	autosetupremote = true
	default = current
[commit]
	gpgsign = true
[core]
	quotepath = false
[gpg]
	format = ssh
[gpg "ssh"]
	allowedsignersfile = ~/.ssh/allowed_signers
[init]
	defaultbranch = main
[pull]
	rebase = true
[rebase]
	autosquash = true
[user]
	signingkey = ~/.ssh/id_ed25519.pub
