[push]
	autosetupremote = true
	default = current
[commit]
	gpgsign = true
[core]
	quotepath = false
[gpg]
	format = ssh
[gpg "ssh"]
	allowedsignersfile = ~/.ssh/allowed_signers
[init]
	defaultbranch = main
[pull]
	rebase = true
[rebase]
	autosquash = true
[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
